<% provide :web_title , @classroom['name'] %>

<div class="container" style="padding: 20px;margin-top: 90px;">
	<h3 id="classroomname"><%= @classroom['name'] %></h3>	

	<div class="allfunction">
		<a class="btn" href="<%= classroom_posts_path(@classroom) %>" style="background-color: #F39C12"><i class="fas fa-bullhorn fa-fw"></i>班級公告</a>
  		<a class="btn" href="<%= classroom_votes_path(@classroom) %>" style="background-color: #13C3FB"><i class="fas fa-vote-yea fa-fw"></i>班級投票</a>
  		<a class="btn" href="<%= classroom_weeknotes_path(@classroom) %>" style="background-color: #E74C3C"><i class="fas fa-book-reader fa-fw"></i>週記系統</a>
		<a class="btn" href="<%= classroom_members_path(@classroom) %>" style="background-color: #F1C40F"><i class="fas fa-users fa-fw"></i>班級成員</a>
  		<a class="btn" href="<%= classroom_lunchs_path(@classroom) %>" style="background-color: #6B76E3"><i class="fas fa-utensils fa-fw"></i>抬餐分配</a>
  		<a class="btn" href="<%= classroom_testlists_path(@classroom) %>" style="background-color: #707070"><i class="fas fa-tasks fa-fw"></i>考試排程</a>	
	</div>
</div>


<style>
	#classroominfo{
		text-align: center;
	}
	#classroomname{
		text-align: center;
		font-weight: bold;
	}
	.allfunction{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.allfunction a{
		font-size: 1.2rem;
		text-align: center;
		min-width: 150px;
		min-height: 150px;
		font-weight: bold;
		margin-bottom: 10px;
		color: #fff;
		transition: 0.3s;
	}
	.allfunction i{
		font-size: 3rem;
		display: block;
		margin:auto;
		margin-top: 30px;
	}
	.allfunction a:hover{
		color: #eaeaea;
		box-shadow: 0 0 5px 4px #bbbbbb;
	}
</style>