<%= nested_form_for([@classroom, @vote]) do |f|%>
  <div class="form-group">
      <%= f.label :title, '標題:'%>
      <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :title, '描述:'%>
      <%= f.text_area :describe, class: "form-control"%>
  </div>

  <%= f.fields_for :vote_items do |vote_item| %>
    <div class="form-group">
      <%= vote_item.label :title, '選項:'%>
      <%= vote_item.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= vote_item.label :title, '簡述:'%>
      <%= vote_item.text_field :describe, class: "form-control" %>
    </div>
    
    
    <%= vote_item.link_to_remove "Remove this task" %>
  <% end %>
  <%= f.link_to_add "新增選項", :vote_items, class: "btn btn-danger" %>
  <%= f.submit "提交", disable_with: "提交中...", class: "btn btn-primary" %>
<% end %>

<script>
  $(document).on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    a = event
  })
</script>