<% provide :web_title, "班級投票" %>

<div class="container" style="padding: 20px;margin-top: 60px;">
	<%= link_to '<i class="fas fa-plus fa-fw"></i>'.html_safe, new_classroom_vote_path(@classroom), id: "newvotebtn"%>
    <% @votes.each do |vote| %>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" style="margin-bottom: 20px;">
			<div style="display: flex;">
				<img src="<%= uimg(vote.user.try(:uimg))%>" height="40px" width="40px" style="border-radius: 50%;margin-right: 10px;">
				<span style="line-height: 19px;">
					<%= vote.user.try(:uname)[-3..-1] %><br>
					<%= vote.created_at.to_s.split("+").first %>
				</span>
			</div>
			<div id="describe" style="margin-top:10px;padding-top: 10px;">
				<h5>說明:</h5>
				<%= simple_format(vote.describe) %>
				<hr>
				<h5>目前票數:</h5>
				<% vote_total = votetotal(vote.vote_items) %>
                <% vote.vote_items.each do |vote_item| %>
                    <h6><%= vote_item.title %></h6>
                    <div class="progress" id="vote-bar">
                        <div class="progress-bar bg-<%= vote_item.color %>" role="progressbar" style="width: <%= vote_range(vote_item,vote_total) %>%" aria-valuenow="<%= vote_item.vote_logs.size %>" aria-valuemin="0" aria-valuemax="100"></div>
						<span><%= vote_item.vote_logs.size %>票</span>
                    </div>                  
                <% end %>
			</div>
			<%= link_to '投票', classroom_vote_path(@classroom,vote), class: "btn btn-secondary btn-sm", remote: true%>
			<span style="float:right">
				已投人數:<%= vote_total %>
				<% if vote.user_id == current_user.id %>
					<%= link_to '<i class="fas fa-pen fa-fw" style="color: #666;"></i>'.html_safe, edit_classroom_vote_path(@classroom,vote)%>
					<%= link_to '<i class="fas fa-trash fa-fw" style="color: #666;"></i>'.html_safe, classroom_vote_path(@classroom,vote), method: :delete ,data:{confirm: "確定刪除這個投票?" }%>
				<% end %>		
			</span>
		</div>
    <% end %>
</div>

<div class="modal fade" id="vote-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="vote-modal-form">
      
    </div>
  </div>
</div>




<style>
	#vote-bar{
		margin-top: 5px;
		margin-bottom: 10px;
		height: 20px;
	}
	#newvotebtn{
		position: fixed;
	    left: -5px;
	    background-color: #007bff;
	    color: #FFF;
	    height: 35px;
	    width: 40px;
	    border-radius: 0 10px 10px 0;
	    z-index: 3;
	    text-align: center;
	    font-size: 22px;
	    transition: 0.3s;
	}
	#newvotebtn:hover{
		left: 0;
	}
</style>