<% provide :web_title, "週記系統"%>

<div class="container" style="padding: 20px;margin-top: 60px;">
	<% @weeknotesubjects.each do |weeknotesubject| %>
		<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" style="margin-bottom: 20px;">
			<div style="display: flex;">
				<img src="<%= uimg(weeknotesubject.user.try(:uimg))%>" height="40px" width="40px" style="border-radius: 50%;margin-right: 10px;">
				<span style="line-height: 19px;">
					<%= weeknotesubject.user.try(:uname)[-3..-1] %><br>
					<%= weeknotesubject.created_at.to_s.split("+").first %>
				</span>
			</div>
			<div id="describe">
				<h5><%= weeknotesubject['title'] %></h5>
				<%= simple_format(weeknotesubject['describe']) %>
			</div>
			<%= link_to '寫週記', classroom_weeknote_path(@classroom,weeknotesubject), class: "btn btn-secondary btn-sm"%>
			<%= is_have_score?(weeknotesubject) %>
			<%= is_finish_weeknote?(weeknotesubject) %>
		</div>
	<% end %>
</div>


<div class="modal fade" id="weeknote-score-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="weeknote-score-form">
      
    </div>
  </div>
</div>

<style>
	#describe{
		margin-top: 20px;
		max-height: 250px;
		overflow: scroll;
	}
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin:80px 0 5px 0;
	}
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background: rgb(219,219,219);
	}
	#describe img{
		width: 100%;
		height: 100%;
	}
</style>