<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :web_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag 'inclassroom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'classroom', 'data-turbolinks-track': 'reload'%>
    <script src="https://kit.fontawesome.com/27049cdd6d.js" crossorigin="anonymous"></script>
    <script src="/js/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" data-turbolinks-track="reload"></script>
    <link rel="stylesheet" href="/js/ckeditor/plugins/codesnippet/lib/highlight/styles/pojoaque.css" data-turbolinks-track="reload">
    <!-- <script src="/js/uikit.min.js"></script> -->
    <!-- <script src="/js/uikit-icons.min.js"></script> -->
  </head>

  <body>
    <nav>
      <div id="nav-logo">
        <a href="<%= admin_classroom_path(@classroom) %>"><%= @classroom['name'] %></a>
      </div>
      <div id="nav-item">
          <a href="/classrooms"><i class="fas fa-home fa-fw"></i>所有教室</a>
          <a href="<%= classroom_posts_path(@classroom) %>"><i class="fas fa-bullhorn fa-fw"></i>管理公告</a>
          <a href="<%= classroom_votes_path(@classroom) %>"><i class="fas fa-vote-yea fa-fw"></i>管理投票</a>
          <a href="<%= admin_classroom_weeknotes_path(@classroom) %>"><i class="fas fa-book-reader fa-fw"></i>週記系統</a>
          <a href="<%= admin_classroom_members_path(@classroom) %>"><i class="fas fa-users fa-fw"></i>管理成員</a>
          <a href="<%= classroom_lunchs_path(@classroom) %>"><i class="fas fa-utensils fa-fw"></i>抬餐分配</a>
          <a href="<%= edit_admin_classroom_path(@classroom) %>"><i class="fas fa-cog fa-fw"></i>教室設定</a>
          <a href="/users/sign_out" data-confirm="確定要登出嗎?"><img id="uimg" src="<%= uimg(current_user.uimg) %>"><%= current_user.uname[-3..-1] %></a>
        </div>
    </nav>
    <% if alert %>
      <%= render "layouts/alert" %>
    <% end %>
    <% if notice %>
      <%= render "layouts/notice" %>
    <% end %>
    <% if alert or notice%>
      <script>
        $('.toast').toast({
          delay: 3000,
          animation: true,
        })
        $('.toast').toast('show')
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
