<!DOCTYPE html>
<html>
  <head>
    <title>ClvscProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/27049cdd6d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div id="nav-logo">
        <a href="/">IHomeworkBook</a>
      </div>
      <div id="nav-item">
        <a href="">首頁</a>
        <a href="">說明</a>
        <a href="">關於</a>
        <a href="/users/sign_in">登入</a>
        <button id="nav-registration" onclick="">註冊</button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
