<!DOCTYPE html>
<html>
  <head>
    <title>ClvscProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/27049cdd6d.js" crossorigin="anonymous"></script>
    <!-- <script src="/js/uikit.min.js"></script> -->
    <!-- <script src="/js/uikit-icons.min.js"></script> -->
  </head>

  <body>
    <nav>
      <div id="nav-logo">
        <a href="/">IHomeworkBook</a>
      </div>
      <div id="nav-item">
        <a href="/"><i class="fas fa-home fa-fw"></i>首頁</a>
        <a href=""><i class="fas fa-home fa-fw"></i>說明</a>
        <a href=""><i class="fas fa-home fa-fw"></i>關於</a>
        <% if user_signed_in? %>
          <a href="/classrooms"><i class="fas fa-sign-out-alt fa-fw"></i>進入教室</a>
        <% else %>
          <a href="/users/sign_in"><i class="fas fa-sign-in-alt fa-fw"></i>登入</a>
        <% end %>
        
        <!-- <button id="nav-registration" onclick="">註冊</button> -->
      </div>
    </nav>
    <% if alert %>
      <%= render "layouts/alert" %>
    <% end %>
    <% if notice %>
      <%= render "layouts/notice" %>
    <% end %>
    <% if alert or notice%>
      <script>
        $('.toast').toast({
          delay: 3000,
          animation: true,
        })
        $('.toast').toast('show')
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
